# Core dependencies needed for building docs
sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
pydata-sphinx-theme==0.16.1
sphinx-copybutton==0.5.2
myst-parser==4.0.1
numpydoc==1.8.0

# Project dependencies needed for autodoc
torch>=2.7.0
einops>=0.8.1
numpy>=1.26.2
scipy>=1.12.0
